/* lesson.css */

.lesson {
  padding: 24px;
}

.lesson_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.lesson_header h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--blue);
}

.lesson_header button {
  background: transparent;
  padding: 9px;
  border-radius: 9px;
  border: 1.13px solid #D2D1D4;
  font-size: 20px;
  cursor: pointer;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Top Courses */
.top_courses {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top_courses .courses_display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_courses h4 {
  font-size: 18px;
  font-weight: 600;
}

.top_courses p {
  color: yellow;
  font-size: 20px;
  cursor: pointer;
}

.top_courses_img {
  width: 100%;
  border-radius: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.top_courses_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.top_courses_p .p {
  font-size: 14px;
  font-weight: 400;
  color: #555;
}

.top_courses_p span {
  font-weight: 700;
  color: #615e69;
}

.top_courses_p .p {
  color: var(--blue);
  font-weight: 700;
  font-size: 16px;
}

.courses_display p{
    color: #615e69;
}