.arlink {
  margin-top: 30px;
  padding: 20px;
}

.arlink_dis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arlink_img {
  background-color: #f9f9f9;
  padding: 10px;
}

.arlink_img img {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

.back-button {
  background-color: transparent;
  border: 1px solid #d2d1d4;
  padding: 9px;
  border-radius: 9px;
  font-size: 20px;
  cursor: pointer;
}
