@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gupter:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #060a90;
  --white: #fff;
  --pink: #fdd4d4;
  --red: #f42829;
  --gray: #4a4755;
  --f9: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; 
}

.App {
  font-optical-sizing: auto;  
  max-width: 500px;
  margin: auto;
}

.content {
  text-align: center;
  padding: 15px;
}

.content_head h1 {
  font-weight: 700;
  font-size: 36px;
  color: var(--blue);
}

.content_head img {
  width: 170px;
}

.content img {
  margin-top: 50px;
  margin-bottom: 20px;
}

.img {
  width: 250px;
  max-width: 100%;  
}

.content button {
  width: 100%;
  padding: 12px 20px;  
  font-size: 18px;
  cursor: pointer;
  border: 2px solid var(--blue);  
  border-radius: 12px; 
  background-color: var(--blue);
  color: var(--white);
}

